<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <img src="https://www.neobyte.es/img/cms/BrandLandings/Gigabyte%20-%20Aorus/308/Banner_1920x300_Cashback_Intel_GB.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="https://maxxicomp.com/img/cms/carrusel/1%20(1).png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="https://www.neobyte.es/img/cms/BrandLandings/Msi/304/Slider_1920x300_MSI_Steam40.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- JavaScript adicional para inicializar el carusel -->
<script>
  $(document).ready(function(){
    $('#carouselExampleInterval').carousel();
  });
</script>




<section class="bg-white">
  <div class="container px-4 py-8 mx-auto row">
    <div class="col-lg-7 d-flex flex-column justify-content-center">
      <h1 class="display-4 font-weight-bold mb-4">
        Su destino final para computadoras de alto rendimiento
      </h1>
      <p class="lead text-muted mb-6">
        Comprar el PC gaming que buscas en Neobyte lleva asociadas grandes ventajas: garantía de 3 años, componentes actuales de marcas líderes (Asus, Gigabyte, Corsair, Nzxt...), asesoramiento técnico personalizado y 20 años de experiencia en el montaje de ordenadores gaming son nuestro principal aval. Todo está concebido para que disfrutes de las máximas prestaciones y exprimas las posiblidades de tus juegos favoritos. 
      </p>
      <div class="d-flex">
        <a href="/productos" class="btn btn-outline-orange btn-lg me-3">
          Productos
          <svg
            class="bi bi-arrow-right ml-2"
            width="1em"
            height="1em"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-lg-5 d-none d-lg-flex">
      <img
        src="https://mipclista.com/6548-home_default/pc-gamer-haku-plus-core-i5-6th.jpg"
        alt="mockup"
        class="img-fluid"
      />
    </div>
  </div>
</section>
<div class="container">
  <dir class="box">
  <img src="https://cdn.grupoelcorteingles.es/statics/manager/contents/images/uploads/2024/02/Bklkz4y6oa.jpeg?impolicy=Resize&width=1000" alt="">
 </dir>
 <dir class="box">
 <img src="https://cdn.grupoelcorteingles.es/statics/manager/contents/images/uploads/2024/02/H1d0DGRqT.jpeg?impolicy=Resize&width=900" alt="">
</dir>
<dir class="box">
 <img src="https://cdn.grupoelcorteingles.es/statics/manager/contents/images/uploads/2024/06/S1znh2ub80.jpeg?impolicy=Resize&width=600" alt="">
</dir>
<dir class="box">
 <img src="https://cdn.grupoelcorteingles.es/statics/manager/contents/images/uploads/2024/06/SJgYWkKdBR.jpeg?impolicy=Resize&width=600" alt="">
</dir>
<dir class="box">
 <img src="https://cdn.grupoelcorteingles.es/statics/manager/contents/images/uploads/2024/05/BygNfRhbN0.jpeg?impolicy=Resize&width=600" alt="">
</dir>
<dir class="box">
 <img src="https://static.fnac-static.com/multimedia/Images/ES/Comete/28631/CCP_IMG_ORIGINAL/400804.jpg" alt="">
</dir>
</div>


















